name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          base: header, repositories
          plugin_lines: yes
          filename: gh-metrics.svg

      - uses: lowlighter/metrics@latest
        with:
            filename: gh-recentstars.svg
            token: ${{ secrets.METRICS_TOKEN }}
            base: ""
            plugin_stars: yes
            plugin_stars_limit: 3
